.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.seat-layout-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen {
  background-color: #ccc;
  color: #333;
  text-align: center;
  padding: 8px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 60%;
  font-weight: bold;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.seat-layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.seat-row {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.seat {
  width: 40px;
  height: 40px;
  border: 1px solid #555;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  font-weight: bold;
}

.seat.selected {
  background-color: #4caf50;
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
