body {
  margin: 0;
  padding: 5 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  margin-bottom: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.col-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.pagination {
  margin-top: 50px;
}

.clickable {
  cursor: pointer;
}

.success-page {
  margin: 200px;
  text-align: center;
  justify-content: center;
  align-content: center;
  .success-button-container {
    align-items: center;
    .success-button {
      width: 10rem;
      height: auto;
    }
  }
}
.is-black {
  background-color: black;
}


.text {
  color: white;
}
